$Primary: #D9304F;
$PrimaryHover: #F26680;
$PrimaryPresed: #A6253C;

$Secondary: #588CA3;

$Warning: #F5CF6C;
$WarningHover: #FFE299;
$WarningPresed: #D5A93B;

$Success: #5EC280;
$SuccessHover: #72D694;
$SuccessPresed: #26A651;

$Info: #5AB5E8;
$InfoHover: #7DD0FF;
$InfoPresed: #468DB5;

$StrokeColorActive: #DBDBDB;

$AppBgColor:  #F5F5F5;
$MainGray: #919191;
$MainBlack: #2A2A2A;
$PureWhite: #FFF;
$StrokeColor: #E3E3E3;
$ContentBlack: #747376;
$BrightBlueHover: #CEEDFF;
