.itemImage::before {  
  content: "";
  display: block;
}

.itemImage::after {  
  content: "" "";
  display: block;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: no-repeat url(https://bee-0.gateway.ethswarm.org/bzz/e891ab0c03acfe168b91d3444ae66d37352db10188ad8eb898581aa132d3f014/) white;
}

.item {
	margin: 12px 15px;
	padding: 7px 18px !important;

	cursor: pointer;

	border: 1px solid lightgray;
  border-radius: 0 !important;
	background: #FFF;
  box-shadow: none;

  &__draggable {
      cursor: pointer;
      /*grid-area: draggable;*/
      width: 20px;
      height: 20px;
      margin: 23px 18px 0 0;
      background: transparent url('../../images/draggable.svg')
          center no-repeat;
      background-size: 18px 9px;

      @media (max-width: 900px) {
          display: none;
      }

      &:active {
        cursor: grabbing;
      }
  }
}

.itemContainer {
	display: flex;

	min-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.id,
.author {
	margin-top: 4px;

	color: #454545;

	font-size: 14px;
	line-height: 16px;
}

.author {
	a {
		color: #588CA3;
		text-decoration-line: underline;
	}

	&:hover {
		a {
			text-decoration: none;
		}
	}
}

.id {
	display: block;

	margin-top: 4px;
}

.top {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.version {
	margin-right: 50px;

	color: #8C8C8C;

	font-size: 18px;
	font-weight: 500;
	line-height: 18px;
}

.description {
	max-width: 546px;
	margin-top: 6px;

	color: #454545;

	font-size: 14px;
	line-height: 16px;
}

.detailedTitle {
	display: block;

	margin-top: 20px;

	font-weight: 700;
}

.button {
  display: block !important;
  width: 100px !important;
  padding: 10px 0 !important;
  margin: 14px 0 0 !important;
  border-radius: 0 !important;
}

.button.add {
  color: #57D983 !important;
  background: none !important;
  border: 1px solid #57D983 !important;

  &:hover {
    color: white !important;
    background: #57D983 !important;
  }

  &:active {
    color: white !important;
    background: #47b36b !important;
  }
}

.button.remove {
  color: #D9304F !important;
  background: none !important;
  border: 1px solid #D9304F !important;

  &:hover {
    color: white !important;
    background: #D9304F !important;
  }

  &:active {
    color: white !important;
    background: #c42441 !important;
  }
}

.title {
  display: grid;
  grid-template-columns: max-content 1fr;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px !important;
  line-height: 149% !important;
  color: #2A2A2A !important;
  margin-bottom: 2px !important;
}

.titleUsers {
  display: flex;
}
