.itemContainer {
	display: flex;

	min-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.item {
	margin: 12px 15px;
	padding: 7px 18px !important;

	cursor: pointer;

	border: 1px solid lightgray;
  border-radius: 0 !important;
	background: #FFF;
  box-shadow: none;
}