.footer {
	/*display: flex;*/
  display: none;
	align-items: center;
	justify-content: center;

	min-height: 80px;

	color: #FFF;

	background-color: #C4C4C4;

	font-size: 96px;

	font-weight: 500;
}
