.layout {
	display: grid;

	min-height: 100vh;

	grid-template-columns: 430px auto 430px;
	grid-template-rows: 60px 1fr;

	grid-template-areas:
		"header header header"
		"sidePanel content overlay";
}

.header {
	grid-area: header;
}

.sidePanel {
	background-color: #F5F5F5;
	grid-area: sidePanel;
}

.overlay {
	grid-area: overlay;
}

.content {
	grid-area: content;

	padding: 0 !important;
  width: 100%;
}
