.header {
  display: flex;
  position: fixed;
	padding: 0 40px;
  align-items: center;
  border-bottom: 1px solid #E3E3E3;
  background: white;
  width: 100%;
  height: 60px;
  z-index: 9999;
}

.item {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal !important;
  font-size: 16px;
  line-height: 149% !important;
  color: #2A2A2A !important;
}

.headerLogo {
  display: block;
  position: relative;
  width: 390px;
  margin-top: 4px;

  & > button {
    background: none;
    border: none;
    box-shadow: none;
    cursor: pointer;

    & > img {
      width: 212px;
    }
  }
}

.headerMainMenu {
  display: flex;
  flex-grow: 1;
  align-items: baseline; 
  justify-content: space-around;

  & > a {
    flex-grow: 1;
    font-size: 16;
    color: inherit;
    padding: 5px 8px;
    text-align: center;
  }
}
