// TODO: Заменить онлайн подключение на локальное
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family:
		source-code-pro,
		Menlo,
		Monaco,
		Consolas,
		'Courier New',
		monospace;
}

.ui.basic.button,
.ui.basic.buttons .message-button {
	color: #FFF !important;
	box-shadow: 0 0 0 1px #FFF inset;
}

.ui[class*="left icon"].input > .app-input {
	padding-right: 3em !important;
}
